@import url("https://fonts.googleapis.com/css?family=Helvetica&display=swap");
body {
  background: #ffff;
  color: #111111;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
}

/* Header */
header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem; /* X-5rem padding (left and right) */
}

.icon {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.icon img {
  height: 50px;
  margin-right: 10px;
}

.icon h1 {
  font-weight: bold;
  font-size: 32px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #91880c;
}

h3 {
  font-size: 32px;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #d4c600;
}

/* Main */
main {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 5rem 5rem 5rem 5rem;
}

.growing-search {
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
}

.growing-search div {
  display: inline-block;
  font-size: 16px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-size: inherit;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 70px;
  color: #111111;
  border-bottom: 2px solid #d4c600;
}

.growing-search .input input:focus {
  width: 200px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1em;
  color: #aaa;
  background-color: #fff;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  transition: color 200ms;
}

.growing-search .input input:hover,
.growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus,
.growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #d4c600;
}
.card-container {
  display: flex;
  align-items: stretch;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 2rem;
  max-width: 100rem;
  border-radius: 1rem;
}

.card-source {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
  align-items: center;
  padding-right: 16px;
}

.card-thumbnail img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-image-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  margin-right: 10px;
  margin-top: 16px;
}

.card-name {
  padding-top: 1rem;
  font-weight: bolder;
  font-size: larger;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 50%;
  padding: 0 16px;
}

.card-source {
  flex-basis: 25%;
  justify-items: center;
  align-items: center;
}

.card-source-name {
  margin-bottom: 8px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-source-button {
  padding: 8px 16px;
  background-color: #d4c600;
  color: black;
  border: none;
  font-weight: bold;
  width: 8rem;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.card-source-button:hover {
  background-color: #feec01;
}

/* Footer */
footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: white;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .icon h1 {
    font-size: medium;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
