.intro {
  text-align: center;
  margin-top: 2rem;
}

.intro h1 {
  font-size: 40px;
}

.intro p {
  margin: 1rem 0;
}

.team hr {
  width: 10rem;
  margin: 10px auto;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 2rem;
}

.team-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.team h4 {
  margin-top: 1rem;
  font-size: 20px;
  font-weight: 600;
}
.team p {
  margin-top: 4px;
  font-size: 16px;
}

.team-member {
  margin: 1.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.team-member:hover {
  transform: scale(1.05);
}

.team img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}
.team-links {
  width: 10rem;
  margin-top: 0.5rem;
}
.team-links img {
  width: 30px;
  height: 40px;
  transition: transform 0.3s ease;
}

.team-links img:hover {
  transform: scale(1.2);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
