@import url("https://fonts.googleapis.com/css?family=Helvetica&display=swap");
body {
  background: #ffff;
  color: #111111;
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
html {
  font-size: 62.5%;
  font-family: "Helvetica", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem; /* X-5rem padding (left and right) */
}

.icon {
  padding: 2rem 0;
  display: flex;
  align-items: center;
}

.icon img {
  height: 50px;
  margin-right: 10px;
}

.icon h1 {
  font-weight: bold;
  font-size: 32px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #91880c;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #d4c600;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 5rem 5rem 5rem 5rem;
}




.growing-search {
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
  background: #fff;
}

.growing-search div {
  display: inline-block;
  font-size: 16px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-size: inherit;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 70px;
  color: #aaa;
  border-bottom: 2px solid #eeeeee;
}

.growing-search .input input:focus {
  width: 200px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1.15em;
  color: #aaa;
  background-color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  transition: color 200ms;
}

.growing-search .input input:hover,
.growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus,
.growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #3498db;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: white;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 7rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .icon h1 {
    font-size: small;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
