.container {
  align-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  width: 50rem;
}

.button {
  margin-top: 2rem;
  width: auto;
  padding: 1rem;
  background-color: #91880c;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #d4c600;
}
h3 {
  font-size: 20px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 1060px) {
  h3 {
    font-size: 16px;
  }
  .container {
    max-width: 1060px;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
}
