body {
  background: #ffff;
  color: #111111;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

/* Header */
header {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
}

.icon {
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
}

.icon img {
  height: 40px;
  margin-right: 10px;
}

.icon h1 {
  font-weight: bold;
  font-size: 24px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #91880c;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}

.header {
  border-bottom: 1px solid #e2e8f0;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
  text-align: center;
  padding: 1rem 1rem;
}

.nav-item:hover {
  color: #d4c600;
  background-color: #d4c600;
  border-radius: 10px;
}

.nav-link {
  font-size: 1rem;
  font-weight: 600;
  color: #111111;
}

/* Main */
main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 5rem 5rem 5rem 5rem;
}

.growing-search {
  padding: 5px 5px 5px 7px;
  border-radius: 5px;
}

.growing-search div {
  display: inline-block;
  font-size: 16px;
}

.growing-search .input input {
  margin-right: 0;
  border: none;
  font-size: inherit;
  transition: width 200ms;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  width: 70px;
  color: #111111;
  border-bottom: 2px solid #d4c600;
}

.growing-search .input input:focus {
  width: 200px;
}

.growing-search .submit button {
  margin-left: 0;
  border: none;
  font-size: 1em;
  color: #aaa;
  background-color: #fff;
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  transition: color 200ms;
}

.growing-search .input input:hover,
.growing-search .submit button:hover {
  cursor: pointer;
}

.growing-search .input input:focus,
.growing-search .submit button:focus {
  outline: none;
}

.growing-search .submit button:hover {
  color: #d4c600;
}
.card-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
  min-width: 100%;
  max-width: 100%;
  border-radius: 1rem;
}

.card-source {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 0rem;
}

.card-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 25%;
  align-items: center;
  padding-right: 16px;
}

.card-thumbnail img {
  width: 20rem;
  height: auto;
  border-radius: 10px;
}

.card-image-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-icon {
  margin-right: 10px;
  margin-top: 16px;
}

.card-name {
  padding-top: 1rem;
  font-weight: bolder;
  font-size: larger;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
  padding: 0 16px;
}

.card-source {
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.card-source-name {
  margin-bottom: 8px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.card-source-button {
  padding: 8px 16px;
  background-color: #d4c600;
  color: black;
  border: none;
  align-self: center;
  font-weight: 900;
  width: auto;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.card-edit-button {
  padding: 8px 16px;
  background-color: #aaaa;
  color: black;
  border: none;
  align-self: center;
  font-weight: 900;
  width: auto;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.card-source-button:hover,
.card-edit-button:hover {
  background-color: #feec01;
}

.card-description {
  outline: none;
  resize: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  font-family: Roboto, sans-serif;
  border: #fff;
}

.card-description:hover {
  border: #ccc;
}

/* Footer */
footer {
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: white;
  padding: 1rem;
}

@media only screen and (max-width: 1060px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 3.5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }

  .icon h1 {
    font-size: medium;
  }

  .nav-menu.active {
    left: 0;
    display: flex;
    align-content: center;
  }

  .nav-item {
    margin-left: 0;
    align-self: center;
    width: 100%;
    height: 5rem;
    text-align: center;
    display: flex;

    flex-direction: column;
    justify-content: center;
    border-radius: 0px;
  }

  .nav-item:hover {
    padding: 0.5rem;
    color: #edde0f;
    background-color: #d4c600;
    border-radius: 10px;

    color: #d4c600;
    background-color: #d4c600;
    border-radius: 0px;
  }

  .nav-link {
    font-size: 1.3rem;
    font-weight: 600;
    color: #111111;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .card-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 0.5rem 0;
    min-width: rem;
    max-width: 100rem;
    max-height: 50rem;
    border-radius: 1rem;
  }

  .card-thumbnail {
    flex-basis: 15%;
    padding-right: 0;
  }
  .card-thumbnail img {
    height: 10rem;
    width: auto;
  }

  .card-content {
    flex-basis: 70%;
    padding: 1rem 0;
  }
  .card-content textarea {
    padding: 0rem 2rem;
    height: 15rem;
    width: 100%;
  }

  .card-source {
    flex-basis: 15%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 5rem;
  }

  .card-source-name {
    margin-bottom: 0;
  }

  .card-source-button,
  .card-edit-button {
    padding: 6px 12px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 460px) {
  .icon h1 {
    font-size: small;
  }
  .card-source-name {
    font-size: medium;
  }
  .card-source {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .card-container {
    min-width: 10rem;
    max-width: 20rem;
  }
}
